# Unity
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/
**/MemoryCaptures/
**/Crashes/

# Visual Studio / Rider
**/.vs/
**/.idea/
*.csproj
*.sln
*.user
*.userprefs

# 系统文件
.DS_Store
Thumbs.db
desktop.ini

# Office 打开文档时的锁文件
~$*